################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExemploAula/.vs/ExemploAula/v16
/ExemploAula/ExemploAula/bin/Debug/netcoreapp3.1
/ExemploAula/ExemploAula/obj
